/* Ensure the entire app takes full height */
html, body, #root {
    height: 100%;
    margin: 0;
}

/* Flex container for layout */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
   
    padding: 20px;
}


/* Grow content area to push footer down */
.content {
    flex: 1;
}

/* Footer styles */
.footerPart {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
